<!DOCTYPE html>
<html lang="zh-CN">
 <%- include('../templates/header.ejs') %>
 <body>
    <!-- <div class="logo"></div> -->
    <main id="main" class="main">
        <div class="window-body">
            <menu role="tablist"></menu>
            <div class="window" role="tabpanel">
                <div class="window-body">

                    <div id="links-container">
                        <!-- 预览内容将在此处展示 -->
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../templates/function.ejs') %>
</html>