<canvas class="crt-effect"></canvas>
<div id="tips" class="tips" style="display: none;"></div>
<button class="back-to-top" onclick="scrollToTop()"><img src="/icon/go-top.png" alt="Back to Top" style="vertical-align: middle;"></button>
<div class="crt monitor"></div>
<div id="loading-container" style="display: none;"></div>
<div class="dynamic-footer"></div>